.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  width: 700px;
  max-height: 900px;
  border-radius: 20px;
  border: 0px solid white;
  background-color: white;
  animation: modal-fade 0.3s;
  position: relative;
  overflow-y: scroll;
}

.desc {
  padding: 0 20px;
}

@keyframes modal-fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.img-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 20px 20px 40% 40%;
}

.img-container img {
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -150px;
  margin-left: -200px;
}
.btn {
  background-color: transparent;
  color: #ffb83c;
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.btn:hover {
  background-color: transparent;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 900;
}
